In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('flight_data_2024.csv')

In [3]:
df

,year,month,day_of_month,day_of_week,fl_date,origin,origin_city_name,origin_state_nm,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,cancelled,air_time,distance,weather_delay,late_aircraft_delay
0,2024,1,1,1,1/1/2024,JFK,"New York, NY",New York,1247.0,31.0,1318.0,1442.0,7.0,0,84.0,509,0,0
1,2024,1,1,1,1/1/2024,MSP,"Minneapolis, MN",Minnesota,1001.0,20.0,1021.0,1249.0,6.0,0,88.0,622,0,0
2,2024,1,1,1,1/1/2024,JFK,"New York, NY",New York,1411.0,21.0,1432.0,1533.0,8.0,0,61.0,288,0,0
3,2024,1,1,1,1/1/2024,RIC,"Richmond, VA",Virginia,1643.0,13.0,1656.0,1747.0,12.0,0,51.0,288,0,0
4,2024,1,1,1,1/1/2024,DTW,"Detroit, MI",Michigan,1010.0,21.0,1031.0,1016.0,4.0,0,45.0,237,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2024,2,29,4,2/29/2024,SJU,"San Juan, PR",Puerto Rico,1447.0,24.0,1511.0,1640.0,7.0,0,149.0,1045,0,0
1048571,2024,2,29,4,2/29/2024,PHX,"Phoenix, AZ",Arizona,59.0,12.0,111.0,647.0,3.0,0,216.0,1972,0,105
1048572,2024,2,29,4,2/29/2024,JAX,"Jacksonville, FL",Florida,2014.0,20.0,2034.0,2128.0,10.0,0,54.0,328,0,0
1048573,2024,2,29,4,2/29/2024,CLT,"Charlotte, NC",North Carolina,1104.0,12.0,1116.0,1210.0,7.0,0,114.0,808,0,70
1048574,2024,2,29,4,2/29/2024,MCI,"Kansas City, MO",Missouri,1307.0,13.0,1320.0,1559.0,22.0,0,99.0,808,0,104

In [11]:
df.isna().sum()

year                   0
month                  0
day_of_month           0
day_of_week            0
origin                 0
origin_city_name       0
origin_state_nm        0
dep_time               0
taxi_out               0
taxi_in                0
cancelled              0
air_time               0
distance               0
weather_delay          0
late_aircraft_delay    0
dtype: int64

In [16]:
df = df[df['cancelled'] == 0]
num_cols = ['dep_time', 'taxi_out', 'air_time', 'taxi_in']
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

In [17]:
df.isna().sum()

year                   0
month                  0
day_of_month           0
day_of_week            0
origin                 0
origin_city_name       0
origin_state_nm        0
dep_time               0
taxi_out               0
taxi_in                0
cancelled              0
air_time               0
distance               0
weather_delay          0
late_aircraft_delay    0
dtype: int64